@using OnlineHospital.Models
@model IEnumerable<OnlineHospital.Models.Desease>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeseaseName)
        </th>
        <th></th>
    </tr>

    @foreach (Desease item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeseaseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.DeseaseId}) |
                @Html.ActionLink("Details", "Details", new {id = item.DeseaseId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.DeseaseId})
            </td>
        </tr>
    }

</table>